<div class="login-page">
  <div class="form">
      <form class="login-form">
          <h2>SIGN IN TO YOUR ACCOUNT</h2>
          <input type="text" name="username" [(ngModel)]="loginObj.username" placeholder="Username" id="user" autocomplete="off" />
          <input oninput="return formvalid()" type="password" name="password" [(ngModel)]="loginObj.password" required placeholder="Password" id="pass" autocomplete="off" />
          <img src="https://cdn2.iconfinder.com/data/icons/basic-ui-interface-v-2/32/hide-512.png"
              onclick="show()" id="showimg">
          <span id="vaild-pass"></span>
          <button type="button" (click)="onlogin()" >SIGN IN</button>
          <p class="message"><a href="#">Forgot your password?</a></p>
      </form>
  </div>
</div>
