<div class ="row">
  <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6">
            Product List
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-success"(click)="openSidePanel()">New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
       <div class="row">
        <div class="col-">
          <div class="card" >
            <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
            <div class="card" >
              <img class="card-img-top" src="img_avatar1.png" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
              <div class="card" >
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
  <div class="col-4" *ngIf="isSidePanelVisible">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-4 text-end">
             New Product
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-success" (click)="closeSidePanel()">Close</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">SKU</label>
            <input type="text" [(ngModel)]="productObj.productSKU" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Name</label>
            <input type="text" [(ngModel)]="productObj.productName" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Price</label>
            <input type="text" [(ngModel)]="productObj.price" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Category</label>
            <input type="text" [(ngModel)]="productObj.categoryId" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Delivery Time Span</label>
            <input type="text" [(ngModel)]="productObj.deliveryTimeSpan" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Image Url</label>
            <input type="text" [(ngModel)]="productObj.productImageUrl" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Product Description</label>
            <input type="text" [(ngModel)]="productObj.productDescription" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
